
#AppCont {
  display: block;
  height: 1500px;
  width: 1368px;
  margin: auto;
  margin-top: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.bluBtnGen {

  width: 570px;
  height: 85px;
  line-height: 85px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
}

.bluBtnGen:hover { 

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}