html {
  box-sizing: border-box;
}

{
  box-sizing: inherit;
}

body, html{
  margin-top:0px;
  padding-top:0px;

 }

 body {
  background: linear-gradient(to bottom, rgba(0,44,77, .60) 0%,rgba(0,40,77, .60)0%),url('../images/kazuend-71543.jpg');
 }

  a {
  text-decoration: none;
}

#AppCont {
  display: block;
  height: 100%;
  width: 1368px;
  margin: 0px auto;
  margin-top: 0px;
}


 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #AppCont {
  display: block;
  height: 1500px;
  width: 100%;
  margin: auto;
  margin-top: 0px;
}
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.bluBtnGen {

  width: 550px;
  height: 85px;
  line-height: 85px;
  margin: auto;
  margin-top: 25px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
  color: #00284d;
  font-family: 'Baloo', cursive;
  font-size: 40px;
  text-align: center;
}

.bluBtnGen:hover { 

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}