html {
  box-sizing: border-box;
}

{
  box-sizing: inherit;
}

body, html{
  margin-top:0px;
  padding-top:0px;

 }

 body {
  background: linear-gradient(to bottom, rgba(0,44,77, .60) 0%,rgba(0,40,77, .60)0%),url('../images/kazuend-71543.jpg');
 }

  a {
  text-decoration: none;
}

#AppCont {
  
  display: block;
  height: 100%;
  width: 1368px;
  margin: auto;
  margin-top: 5%;
}


.bluBtnGen {

  width: 90%;
  height: 85px;
  line-height: 85px;
  margin: auto;
  margin-top: 25px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
  color: #00284d;
  font-family: 'Work Sans';
  font-size: 40px;
  text-align: center;
}

.bluBtnGen:hover { 

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}