#instDashLink{
  text-decoration: none;
  color: #00284d;

  }

  #InstLoginCont {

  width: 100%;
  height: 800px;
  margin-left: 0px;
  border: 1px solid #000;
  background-color: #00284d;
}

#loginForm{
  width: 600px;
  height: 410px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #80bfff;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
  font-family: 'Work Sans', cursive;
}

#usrName, #pWord{

	display: block;
	margin:0 auto 20px auto;
	width: 250px;
	height: 60px;
  font-family: 'Work Sans', cursive;
  font-size: 24px;
  color:#00284d;
}

#loginButton{

	display: block;
	margin:0 auto 20px auto;
	width:150px;
	height: 60px;
}

#usrNameLbl{

	margin-top: 20px;
}

#pWordLbl, #usrNameLbl{
	text-align: center;
}

#loginTitle{
	color: #FFF;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
  font-family: 'Work Sans', cursive;
}


#loginButton{

	display: block;
	text-align: center;
	width: 570px;
  height: 85px;
  line-height: 85px;
  margin:20px auto;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
  font-family: 'Baloo', cursive;
  font-size: 30px;
}

#loginButton:hover {

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}

#usrName, #pWord{

	display: block;
	margin:0 auto 20px auto;
	width: 300px;
	height: 60px;
}

#loginBox, #pWordLbl{

	margin:auto;
	text-align: center;
  color: #00284d;
  font-family: 'Work Sans', cursive;
  font-size: 30px;
}

#usrNameLbl{

	margin-top: 20px;
}


