#InstLoginCont {

  width: 800px;
  height: 650px;
  margin-left: 0px;
  border: 1px solid #000;
}

#loginForm{

	margin: 150px auto;
	width: 450px;
	height: 350px;
	border: 1px solid #000;
}

#usrName, #pWord{

	display: block;
	margin:0 auto 20px auto;
	width: 250px;
	height: 60px;
}

#loginButton{

	display: block;
	margin:0 auto 20px auto;
	width:150px;
	height: 60px;
}

#usrNameLbl{

	margin-top: 20px;
}

#pWordLbl, #usrNameLbl{
	text-align: center;
}

#loginTitle{
	text-align: center;
}