html {
  box-sizing: border-box;
}

{
  box-sizing: inherit;
}
body, html{
  margin-top:0px;
  padding-top:0px;

 }

 h1{
	margin-top: 0px;

 }


 #MainCont {
	margin: 0px auto;
  width: 80%;
  height: 100%;
  border-radius: 15px;
}