#studentDashCont {

  width: 100%;
  height: 650px;
  border-radius: 15px;
  margin-left: 0px;
  background-color: #00284d;
  border: 1px solid #000;
}



#studentDashTitle{

  color: #FFF;
  text-align: center;
  padding-top: 20px;
  font-family: 'Work Sans', cursive;
  font-size: 50px;
}

#studentDashForm{

	margin: auto;
	width: 600px;
	height: 280px;
  border-radius: 15px;
  background-color: #80bfff;
	border: 1px solid #000;
}



#StudDashRoom {
  
	display: inline-block;
	height: 60px;
  margin:auto;
  margin-top: 50px;
  width: 350px;
  font-size: 30px;
}




#rmNameLbl > p {

	text-align: center;
  color: #FFF;

}

 #StudDashEnterBtnLink {

    width: 90%;
    font-size: 35px;
    margin: auto;
  }

 

  #StudDashEnterBtn  {

  width: 90%;
  height: 85px;
  line-height: 85px;
  margin: auto;
  margin-top: 55px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
  color: #00284d;
  font-family: 'Work Sans';
  font-size: 40px;
  text-align: center;
}

#StudDashEnterBtn:hover { 

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}




#StudDashLogCont {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}