#studentDashCont {

  width: 800px;
  height: 650px;
  margin-left: 0px;
  background-color: #00284d;
  border: 1px solid #000;
}

#studentDashTitle{

	text-align: center;
  color: #FFF;
}

#studentDashForm{

	margin: 150px auto;
	width: 600px;
	height: 250px;
  border-radius: 15px;
  background-color: #80bfff;
	border: 1px solid #000;
}

#StudDashRoom, #rmButton{
	display: inline-block;
	height: 60px;
}

#StudDashRoom{

	margin:20px;
	width: 150px;
}

#rmNameLbl{

	text-align: center;

}

#clssNotesButton{

	display: block;
	margin: auto;
	width: 150px;
	height: 60px;
}

#StudDashEnterBtn {

  width: 350px;
}

#StudDashLogCont {

  display: flex;
  flex-direction: row;
}