#classNotesCont{
	position: relative;
}

#bottomButtons{

	display: block;
	width: 800px;
	position: absolute;
	bottom: -380px;
	margin: auto;
}

#textEdit{

	float: left;
	margin-left: 40px;
	height: 60px;
}

#noteAdd{

	float: right;
	margin-right: 40px;

}

#notesP{
	width: 750px;
	margin: 20px auto;

}

#classNoteTitle{

	text-align: center;
}