#StudRoomCont {
  width: 100%;
  height: 800px;
  background-color: #00284d;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomCont {
  margin-top:40px;
  width: 100%;
  height: 550px;
  background-color: #00284d;
  border-radius: 15px;
  
  }
}

#StudRoomTopic {

  color: #FFF;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Work Sans', cursive;
  font-size: 50px;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomTopic {

  color: #FFF;
  text-align: center;
  margin-top: 0px;
  padding-top: 40px;
  font-family: 'Work Sans', cursive;
  font-size: 30px;
  }
}

#StudRoomForm {

  width: 600px;
  height: 345px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  background-color: #80bfff;
  border: 1px solid #000;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomForm {

  width: 100%;
  position: relative;
  height: 280px;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  background-color: #80bfff;
  border: 1px solid #000;

 }
}


@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomScore{

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  }
}

.fa{
  display: none;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .fa{

    display: inline-flex;
  }
}

#StudRoomSlide {

  width: 90%;
  margin: auto;
}

#StudRoomSlideCont {

  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#StudRoomRateH2 {

  text-align: center;
}

#StudRoomUserCont {

  display:inline-block;
  margin: 50px 0px 0px 20px;
  color: #00284d;
  width: 45%;
  height: 30px;
  line-height: 30px;
  border: 2px solid #00284d;
  text-align: center;
  font-family: 'Work Sans', cursive;
  font-size: 20px;

}

#StudRoomRoomCont {

  display: inline-block;
  float: right;
  margin:50px 20px 0px 0px;
  color:#00284d;
  width: 45%;
  height: 30px;
  line-height: 30px;
  border: 2px solid #00284d;
  text-align: center;
  font-family: 'Work Sans', cursive;
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomUserCont {

  display:block;
  position: absolute;
  right:50%;
  margin: 20px auto auto 5px;
  color: white;
  width: 30%;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  text-align: center;
  font-family: 'Work Sans', cursive;
  font-size: 10px;

  }
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomRoomCont {

  display:block; 
  position: absolute;
  left: 50%;
  margin:20px 5px auto auto;
  color:white;
  width: 30%;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  text-align: center;
  font-family: 'Work Sans', cursive;
  font-size: 10px;

  }
}

#userRoomCont{
  width:100px;
  margin: auto;

}
#StudRoomSlideNum {

  text-align: center;
  color: #00284d;
  font-family: 'Work Sans', cursive;
  font-size: 30px;
}

p {

  color: #00284d;
  font-family: 'Work Sans', cursive;
  font-size: 30px;
  padding: 0px 5px;
}

h2{

   font-family: 'Work Sans', cursive;
}

input[type=range] {

  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {

  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {

  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {

  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {

  background: #367ebd;

}