#StudLoginCont {

  width: 100%;
  height: 800px;
  background-color: #00284d;
  margin-top: 0px;
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudLoginCont {

  width: 100%;
  height: 100%;
  background-color: #00284d;
  margin-top: 0px;
  }
}
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudLoginCont {

  width: 100%;
  height: 667px;
  background-color: #00284d;
  margin-top: 0px;
  }
}

#StudLogInTitle {

  color: #FFF;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
  font-family: 'Baloo', cursive;
  font-size: 50px;
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#StudLogInTitle {

  color: #FFF;
  text-align: center;
  padding-top: 10px;
  margin-top: 0px;
  font-family: 'Baloo', cursive;
  font-size: 20px;
}
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#StudLogInTitle {

  color: #FFF;
  text-align: center;
  padding-top: 10px;
  margin-top: 0px;
  font-family: 'Baloo', cursive;
  font-size: 20px;
}
}
#StudLogInBox {

  width: 600px;
  height: 220px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #80bfff;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
  
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudLogInBox {

  width: 100%;
  height: 120px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #80bfff;
  margin: auto;
  margin-top: 30px;
  padding-top: 30px;
  
}
}
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudLogInBox {

  width:100%;
  height: 120px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #80bfff;
  margin: auto;
  margin-top: 30px;
  padding-top: 30px;
  
}
}

#StudInpWrap {

  margin: auto;
  margin-top: -20px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudUsrNameLab {

  margin-left: 10px;
  line-height: 20px;
  color: #00284d;
  font-family: 'Baloo', cursive;
  font-size: 30px;

}
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudUsrNameLab {

  margin-left: 10px;
  line-height: 20px;
  color: #00284d;
  font-family: 'Baloo', cursive;
  font-size: 30px;

}
}

 #StudUsrNameLab {

  margin-left: 20px;
  line-height: 20px;
  color: #00284d;
  font-family: 'Baloo', cursive;
  font-size: 30px;

}

#StudUsrNameLab > p {

  margin-top: -10px;
  margin-left: 20px;
}

#StudUsrName {

  width: 320px;
  height: 30px;
  margin-top: 0px;
  margin-left: 20px;
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudUsrName {

  width: 30%;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
}
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #StudUsrName {

  width: 30%;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
}
}


.bluBtnGen {

  width: 570px;
  height: 85px;
  line-height: 85px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .bluBtnGen {
  width: 100%;
  height: 85px;
  line-height: 85px;
  margin-top: 10px;
  margin-left: 0px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 0px;
}
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .bluBtnGen {
  width: 100%;
  height: 85px;
  line-height: 85px;
  margin-top: 10px;
  margin-left: 0px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 0px;
}
}


.bluBtnGen:hover {

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}



