
@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
  

#MainCont {

  width: 95%;
  height: 100%;
}  

#AppCont {

  height: 100% ;
  width: 100%;
}

#TypeSelInner {
  width: 100%;
  height: 100%;
  margin-top: -500px;
  position: relative;
  z-index: 2;
}


#background-video {

display: none;
height: 0%;
width: 0%;
top: 0;
left: 0;
z-index: -1;

}

#background-videoDiv {
display: none;
height: 0%;
width: 0%;
z-index: -1;
opacity: 0;

}

.bluBtnGen {

  width: 90%;
  height: 85px;
  line-height: 85px;
  margin: auto;
  margin-top: 25px;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  border: 1px solid #000;
  border-radius: 20px;
  padding-left: 10px;
  color: #00284d;
  font-family: 'Work Sans';
  font-size: 35px;
  text-align: center;
}

/* ######################## */
/* TYPE SELECT */
/* ######################## */

  #TypeSelCont {

    width: 100%;
    height: 480px;
    background-color: #00284d;
    margin-top: 20%;
    border: 2px solid #FFF;
  }

  #PerciImgTS {

  width: 100px;
  height: 70px;
  margin-left: 5px;
  margin-top: -15px;
  position: absolute;
}

  #TypeSelTitle {

  color: #FFF;
  text-align: center;
  padding-top: 60px;
  font-family: 'Work Sans', cursive;
  font-size: 40px;
  }


  #TypeSelBtnCont {

  width: 90%;
  height: 280px;
  border: 1px solid #000;
  border-radius: 15px;
  margin: auto;
  background-color: #80bfff;
  margin-top: 20px;
  }

  #TypeSelInstBtn {

  font-size: 0px;
  width: 0%;
  height: 0%;
  line-height: 85px;
  background-color: #80bfff;
  box-shadow: none;
  border: 0px solid #000;
  text-align: left;
  }

  #TypeSelStudBtn {
    margin-top: -45px;
  }

/* ######################## */
/* STUDENT LOG IN */
/* ######################## */


  #StudLoginCont {

    width: 100%;
    height: 430px;
    background-color: #00284d;
    margin-top: 0px;
    border-radius: 15px;
    border: 2px solid #FFF;
  }

  #StudLogInTitle {

    color: #FFF;
    text-align: center;
    padding-top: 20px;
    margin-top: 60px;
    font-family: 'Work Sans', cursive;
    font-size: 30px;
  }

  #StudLogInBox {

  width: 90%;
  height: 250px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #80bfff;
  margin: auto;
  margin-top: 30px;
  padding-top: 30px;
  
}


#StudInpWrap {

  margin: auto;
  margin-top: 0px;
}

#StudUsrNameLab {

  margin-left: 10px;
  line-height: 20px;
  color: #00284d;
  font-family: 'Work Sans', cursive;
  font-size: 20px;

}

#StudUsrName {

  width: 160px;
  height: 60px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 20px;
}

#StudUsrNameLab > p {

  margin-top: 0px;
  margin-left: 0px;
  font-size: 25px;
}




/* ######################## */
/* STUDENT DASHBOARD */
/* ######################## */


#studentDashCont {

  width: 100%;
  height: 480px;
  background-color: #00284d;
  margin-top: 0px;
  border-radius: 15px;
  border: 2px solid #FFF;
  }



  #studentDashForm{

  margin: auto;
  width: 90%;
  height: 235px;
  border-radius: 15px;
  background-color: #80bfff;
  border: 1px solid #000;
  }

  #studentDashTitle {

    color: #FFF;
    text-align: center;
    padding-top: 20px;
    margin-top: 60px;
    font-family: 'Work Sans', cursive;
    font-size: 30px;
  }

  #rmNameLbl > p {

    color: #FFF;
    text-align: center;
    padding-top: 20px;
    margin-top: -10px;
    font-family: 'Work Sans', cursive;
    font-size: 20px;
  }

  #StudDashRoom {

  width: 80%;
  height: 60px;
  margin: auto;
  margin-top: 30px;
  font-size: 20px; 
  }

  #StudDashEnterBtnLink {

    width: 90%;
    font-size: 20px;
    margin: auto;
  }

  #StudDashEnterBtn {
    
  width: 90%;
  height: 85px;
  line-height: 85px;
  margin: auto;
  margin-top: 25px;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  border: 1px solid #000;
  border-radius: 20px;
  color: #00284d;
  font-family: 'Work Sans';
  text-align: center;
  font-size: 30px;
  }



/* ######################## */
/* STUDENT ROOM */
/* ######################## */


#StudRoomRateH2 {

  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-family: 'Work Sans', cursive;
  font-size: 20px;
}


#StudRoomCont {

  width: 100%;
  height: 700px;
  background-color: #00284d;
  margin-top: 0px;
  border-radius: 15px;
  border: 2px solid #FFF;
  
  }


#StudRoomTopic {

  color: #FFF;
  text-align: center;
  margin-top: 50px;
  padding-top: 40px;
  font-family: 'Work Sans', cursive;
  font-size: 25px;
  }

  #StudRoomForm {

  width: 90%;
  position: relative;
  height: 480px;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #80bfff;
  border: 1px solid #000;

 }


 #mobIcon{

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  }

  #mobIcon > i {

  font-size: 170px;
  color: #00284d; 
  }


  .fa{

    display: inline-flex;
  }


  #StudRoomUserCont {

  display:block;
  position: absolute;
  bottom: -50px;
  left: 0%;
  color: white;
  width: 41%;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  text-align: center;
  font-family: 'Work Sans', cursive;
  font-size: 10px;

  }


  #StudRoomRoomCont {

  display:block; 
  position: absolute;
  right: 0%;
  bottom: -50px;
  color:white;
  width: 41%;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  text-align: center;
  font-family: 'Work Sans', cursive;
  font-size: 10px;

  }

  input[type=range]::-webkit-slider-thumb {

  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}






}

