#StudRoomCont {

  width: 100%;
  height: 800px;
  background-color: #00284d;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomCont {

  width: 100%;
  height: 667px;
  background-color: #00284d;
  
  }
}

#StudRoomTopBar {

  height: 100px;
  border-bottom: 2px solid #FFF; 
}

#StudRoomTopic {

  color: #FFF;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Baloo', cursive;
  font-size: 40px;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomTopic {

  color: #FFF;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Baloo', cursive;
  font-size: 30px;
  }
}

#StudRoomForm {

  width: 600px;
  height: 345px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  background-color: #80bfff;
  border: 1px solid #000;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

#StudRoomForm {

  width: 95%;
  height: 300px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  background-color: #80bfff;
  border: 1px solid #000;

 }
}

#StudRoomSbmtBtn {

  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
}

#StudRoomSbmtBtn:hover {

  cursor: pointer;
}

#StudRoomSlide {

  width: 200px;
  margin: auto;
}

#StudRoomSlideCont {

  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#StudRoomRateH2 {

  text-align: center;
}

#StudRoomUserCont {

  position: absolute;
  width: 150px;
  bottom: 2px;
  border: 1px solid #000;
  text-align: center;
}

#StudRoomRoomCont {

  position: absolute;
  width: 150px;
  bottom: 2px;
  left: 155px;
  border: 1px solid #000;
  text-align: center;
}

#StudRoomSlideNum {

  text-align: center;
  color: #00284d;
  font-family: 'Baloo', cursive;
  font-size: 30px;
}


