#StudLoginCont {

  width: 90%;
  height: 100%;
  background-color: #00284d;
  margin-top: 0px;
}

#StudLogInTitle {

  color: #FFF;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
  font-family: 'Baloo', cursive;
  font-size: 50px;
}


#StudLogInBox {

  width: 600px;
  height: 220px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #80bfff;
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
  
}


#StudInpWrap {

  margin: auto;
  margin-top: -20px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

#StudUsrNameLab {

  margin-left: 20px;
  line-height: 20px;
  color: #00284d;
  font-family: 'Baloo', cursive;
  font-size: 30px;

}

#StudUsrNameLab > p {

  margin-top: -10px;
  margin-left: 20px;
}

#StudUsrName {

  width: 320px;
  height: 30px;
  margin-top: 0px;
  margin-left: 20px;
}

#StudUsrSubBtn {

  width: 570px;
  height: 85px;
  line-height: 85px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #80bfff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  padding-left: 10px;
}

#StudUsrSubBtn:hover {

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}



