
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

#TypeSelCont {

  width: 70%;
  height: 650px;
  background-color: #00284d;
  border-radius: 15px;
  opacity: 0.6;
  left: 15%;
  z-index: -1;
  position: absolute;
  overflow: hidden;
}


#TypeSelContOut {

  width: 80%;
  margin: auto;
  height: 650px;
  border-radius: 15px;
  overflow: hidden;
  
}



#SelRadioCont {

  height: 100%;
}

#TypeSelStudBtn {

  margin-top: 25px;
}

#TypeSelTitle {

  color: #FFF;
  text-align: center;
  padding-top: 20px;
  font-family: 'Work Sans', cursive;
  font-size: 50px;
}

#PerciImg {
  width: 100px;
  height: 70px;
}

#TypeSelBtnCont {

  width: 600px;
  height: 280px;
  border: 1px solid #000;
  border-radius: 15px;
  margin: auto;
  background-color: #80bfff;
  font-family: 'Work Sans';
  font-size: 40px;
}

#TypeSelInstBtn {

    margin-top: 40px;
  }























