
a {
  text-decoration: none;
}

#TypeSelCont {

  width: 90%;
  height: 650px;
  background-color: #00284d;

  position: relative;
}

.aniDiv {
  width: 50px;
  height: 600px;
  left: 320px;
  bottom: 0px;

  opacity: 0.3;
  background-color: #FFF;
  position: absolute;
}

#TypeSelTitle {

  color: #FFF;
  text-align: center;
  margin-top: 0px;
  padding-top: 40px;
}

#TypeSelBtnCont {

  width: 600px;
  height: 210px;
  border: 1px solid #000;
  border-radius: 15px;
  margin: auto;
  background-color: #80bfff;
  margin-top: 120px;
}

.TypeSelSubBtn {

  width: 570px;
  height: 80px;
  line-height: 80px;
  border-radius: 15px;
  margin: auto;
  margin-top: 15px;
  text-decoration: none;
  color: #000;
  box-shadow: none;
  transition: box-shadow 0.5s;

}


.TypeSelSubBtn:hover {

  cursor: pointer;
  background-color: #6EB3FA;
  box-shadow: 10px 5px 25px #111;
  transition: box-shadow  0.5s;
}

.bgBar {
  width: 20px;
  height: 120px;
  background-color: #FFF;
  opacity: 0.3;
}



